@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
  font-family: sans-serif;
  margin: 0; /* Remove all body margins */
  font-size: 120%;
}
nav {
    background-color: #0a85d8;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: flex; /* Display the chldren of this element as flexible boxes */
    align-items: center; /* Align child flexible boxes in the vertical center */
}
nav p {
    text-align: center;
    flex-basis: 100px; /* Give each paragraph the same basic width */
    flex-grow: 1; /* Allow each paragraph to grow evenly to fill up the parent nav element */
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #0a85d8; /* background or background-color both work */
    position: fixed; /* fix to the viewport */
    bottom: 0; /* Start 0 pixels from the bottom of the viewport */
    left: 0; /* Start 0 pixels from the left of the viewport */
    width: 100%; /* Set the width to 100% of the viewport */
    height: 3em; /* Set the footer elements height to 3 times larger than its current font size */
    border-top: solid black 1px; /* Have to put the unit, e.g. px or %, if not zero */
}
nav a:hover {
    color: red;
}
Header {
    display: flex;
    align-items: center;
    background: #0cbe9b;   
}
header h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 400%;
    font-weight: lighter;
    color: black;
}
h1, h2 {
    color: #f75c03;
    font-family: serif;
 
}
main {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em; /* Larger margin to allow for the footer */
}
.center {
    text-align: center;
}
.wrap {
    float: right;
}

